/* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  } */

.contact-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 9px;
    border-color: rgba(146, 147, 148, 0.322);
    width: 800px;
}


.title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-grid {
    display: flex;
    flex-direction: row;
}



/* paragraphs */
.dev-name {
    font-weight: bold;
    font-size: 32px;
    justify-content: start;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;

   
}
/* 
@media (min-width: 800px){
    .dev-name {
        overflow: hidden; 
        border-right: .15em solid rgb(255, 255, 255); 
        white-space: nowrap; 
        letter-spacing: .15em;
        animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }
} */

.location-text {
    margin-top: 5px;
    margin-left: 20px;
    vertical-align: bottom;
    font-weight: 400;
    color: rgba(217, 217, 218, 0.753);
}

.bio-text {
    margin-top: 5px;
    margin-left: 20px;
    vertical-align: bottom;
    font-weight: 400;
}

/* Buttons */
.contact-button {
    --hover-icon-color: black;
    --hover-bg: rgb(0, 255, 234);
    --hover-shadow: rgb(245, 244, 244);
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 12px;
    padding: 8px 8px;
    background-color: transparent;
    border-style: solid;
    border-color: #fcfcfc3b;
    border-width: 2px;
    cursor: pointer;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.568);
    color: white;
    transition: 0.2s;
}

.contact-button:hover {
    color: var(--hover-icon-color);
    background-color: var(--hover-bg);
    transform: translate(-0.25em, -0.25em);
    box-shadow: 0.17rem 0.17rem 0px var(--hover-shadow);
}

.contact-button:active {
    transform: translate(0);
    box-shadow: none;
}



/*Experience Container*/
.experience-container p{
    padding-left: 0.25rem;
    margin-bottom: 0px;
    margin-top: 0px;
}
.experience-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 800px;
}

.job-container {

}

.company-text {
    font-size: 25px;
    color: rgb(90, 212, 212);
    font-weight: bold;
    width: max-content;
    position: relative;
    padding-bottom: 2px;
}

.company-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffffff;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

.company-text:hover::after{
    content: '';
    background-color: rgb(255, 255, 255);
    transform: scale(1);
    position: absolute;
}

.date-text {
    padding-top: 2px;
    color: rgb(231, 231, 231);
    font-size: 14px;
}

.position-text {
    font-size: 27px;
    font-weight: 800;
    font-style: italic;
}

.desc-text {

}


.date-container{
    display: inline-block;
}


.transition-text {
    display: inline-block;
}

ul {
    margin-top: 0px;
    /* list-style: none; */
}

ul svg {
    padding-right: 12px;
    display: inline;
}
li {
    padding: 10px 0;
}






.project-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: end;
}

.project-container p {
    padding-left: 0.25rem;
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 20;
}

.project-container-box {
    border-style: solid;
    border-radius: 12px;
    min-width: auto;
    width: 800px;
    height: 500px;
    border-width: 1px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 30px;
}

.project-container-box.project-individual {
    padding-top: 5px;
    height: fit-content;
    margin-bottom: 0px;
}


.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project-tech-img {
    height: 25px;
    width: 25px;
    vertical-align: top;
    margin-right: 5px;
}

.image-container {

}

.project-img:hover{
    transform: scale(1.05);
}

.project-info-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    row-gap: 5px;
}

.project-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.hide {
    display: none;
}

.project-container-box:hover .hide {
    display: block;
    z-index: 23;
}

.github-button {
    z-index: 23;
    width: fit-content;
    height: 40px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.897);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.541);
    color: black;
    font-family: Roboto Mono;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.638);
    margin-right: 10px;
    cursor: pointer;

    margin: 0px 7px;
    padding: 5px 15px;
}


.gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 100%);
    position: absolute;
    overflow: auto;
    z-index: 18;
    cursor: pointer;
    pointer-events: none;
}

.tech-stack-button {
    background-color: transparent;
    color: white;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(211, 211, 211, 0.63);
    border-radius: 4px;
    margin: 0px 7px;
    padding: 5px 15px;
    font-size: 24px;
    font-family: Roboto;
    z-index: 23;
}

/*Experience Container*/
.tech-container p{
    padding-left: 0.25rem;
    margin-bottom: 0px;
    margin-top: 0px;
}
.tech-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 800px;
    overflow: hidden;
    padding: 60px 0;
}

.tech-container-background {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    
    border-top-color: rgba(68, 68, 68, 0.267);
    border-bottom-color:rgba(68, 68, 68, 0.267);

}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logo-slide-container {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.logo-slide-container::before,
.logo-slide-container::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
}

.logo-slide-container::before {
    background: linear-gradient(to left, rgba(255,255,255,0), #0e0d0d);
    left: 0;
    z-index: 2;
    content: "";
}

.logo-slide-container::after {
    background: linear-gradient(to right, rgba(255,255,255,0), #0e0d0d);
    right: 0;
    z-index: 2;
    content: "";
}

.logos-slide {
    display: inline-flex;
    animation: 30s slide infinite linear;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

.logo-slide-container:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide img {
    height: 50px;
    width: 50px;
    margin: 0 20px;
}

.project-header {
    padding-bottom: 2px;
    font-size: 45px;
    font-weight: bold;
    font-family: Roboto;
    display: block;
}


@media(max-width: 800px) {
    .title-row {
        flex-direction: column;
    }
    .dev-name {
        text-wrap: nowrap;
    }
    .button-grid {
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .contact-container {
        width: 95%;
    }
    .tech-container{
        width: 100%;
    }
    .experience-container {
        width: 90%;
    }
    .experience-container ul {
        font-size: 12px;
    }
    .logo-slide-container {
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }
    .logos-slide {
        min-width: max-content;
    }
    .project-container-box {
        width: 350px;
        margin: 10px auto;
    }

    .tech-stack-button {
        font-size: 16px;;
    }
    .project-tech-img {
        width: 15px;
        height: 15px;
    }
    .project-info-container .project-desc {
        font-size: 10px;
        padding-right: 20px;
    }

    .project-desc {
        width: 100%
    }

}